.container_ {
    display: flex;
    flex-direction: column;
}
.image-container_ {
    margin: 0 auto 20px auto;
    text-align: center;
}
.text-container_ {
    width: 100%;
}
h1.large_ {
    display: block;
}
h1.small_ {
    display: none;
}
img.large {
    display: none;
    width: 500px;
}
img.small {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    width: 500px;
}
.page__content p {
    margin-top: 0.1em;
    margin-bottom: 0.2em;
}
p {
    font-size: 16px;
}
@media (max-width: 767px) {
    h1.large_ {
        display: none;
    }
    h1.small_ {
        display: block;
    }
}
@media (min-width: 1125px) {
    .container_ {
        flex-direction: row;
    }
    .image-container_ {
        width: 433px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 0px;
    }
    .text-container_ {
        width: calc(100% - 370px);
    }
    h1.large_ {
        display: block;
    }
    h1.small_ {
        display: none;
    }
    img.large {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: block;
        width: 450px;
    }
    img.small {
        display: none;
        width: 450px;
    }
    .page__content p {
        margin-top: 0.2em;
        margin-bottom: 0.4em;
    }
    p {
        font-size: 20px;
    }
}
