<html>
    <body>
        <div id="todoApp">
            <h2>Personal To Do List</h2>
                <div class="input-container">
                    <input type="text" id="todoInput" placeholder="Enter a new task...">
                    <button id="addTodo">Add Task</button>
                </div>
            <ul id="todoList"></ul>
        </div>
    </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/9.21.0/firebase-app.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/9.21.0/firebase-analytics.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/9.21.0/firebase-firestore.js"></script>
<script type="module" src="/assets/js/todoApp.js"></script>