@import "minimal-mistakes/variables";

#todoApp {
    margin: 0 auto;
}

.input-container {
  display: flex;
  align-items: center;
}

#todoInput {
  margin-right: 5px;
}

#todoInput,
#addTodo {
  font-size: 22px;
  height: 36px; /* 높이 조절 */
  margin-bottom: 0;
}

#addTodo {
  width: 125px; /* 가로 크기 조절 */
  background-color: #666666; /* 버튼 배경색 */
  font: $global-font-family;
  color: white; /* 글자색 */
  border: none; /* 테두리 없앰 */
  cursor: pointer; /* 마우스 올리면 포인터 모양 변경 */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px; /* 모서리 둥글게 */
  transition-duration: 0.4s; /* 마우스 호버 시 애니메이션 */
}

#todoList {
  list-style: none;
  padding: 0;
}

#todoList li {
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  margin: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#todoList li.completed {
  text-decoration: line-through;
}

#todoList button {
  font-size: 22px;
  margin-left: 10px;
  background-color: #666666;
  font: $global-font-family;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  transition-duration: 0.4s;
}

#todoList .task-content {
  flex-grow: 1;
  text-align: left;
}

#todoList .task-buttons {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: left;
}

@media (max-width: 767px) {
  #todoInput,
  #addTodo {
  font-size: 18px;
  height: 30px;
  }
  
  #addTodo {
  width: 110px;
  }
  
  #todoList li {
  font-size: 22px;
  }
  
  #todoList button {
  font-size: 18px;
  }
}

@media (max-width: 468px) {
  #todoInput,
  #addTodo {
  font-size: 16px;
  height: 28px;
  }
  
  #addTodo {
  width: 100px;
  }
  
  #todoList li {
  font-size: 18px;
  }
  
  #todoList button {
  font-size: 16px;
  }
}

@media (max-width: 403px) {
  #todoInput,
  #addTodo {
  font-size: 15px;
  height: 27px;
  }

  #todoList li {
    font-size: 17px;
  }

  #todoList button {
    font-size: 15px;
  }
}

@media (max-width: 387px) {
  #todoInput,
  #addTodo {
  font-size: 14px;
  height: 26px;
  }

  #todoList li {
    font-size: 16px;
  }

  #todoList button {
    font-size: 14px;
  }
}

@media (max-width: 372px) {
  #todoInput,
  #addTodo {
  font-size: 13px;
  height: 24px;
  }

  #todoList li {
    font-size: 15px;
  }

  #todoList button {
    font-size: 13px;
  }
}